header {
	background-image: ;
	background-position: ;
	background-repeat: ;
	background-size: ;
	text-align: ;
	margin-top: ;
	margin-bottom: ;
	font-family: 'IM Fell Great Primer', serif;
	font-size: 80px;
}

body {
	color: ;
	vertical-align: ;
	margin-left: ;
	margin-top: ;
	margin-right: ;
	background-image: url("playerMat.jpg");
	background-size: 100%;
	font-family: ;
	font-size: ;
}

footer {
	background-color: ;
	text-align: ;
}

div {
	padding: ;
	border-radius: ;
}

td {
	text-align: center;
}

tr {
	padding-top: 1%;
	padding-bottom: 1%;
}

text