@font-face {
    font-family: CasablancaAntique;
    src: url(CasablancaAntique.ttf);
}

header {
	background-image: ;
	background-position: ;
	background-repeat: ;
	background-size: ;
	text-align: center;
	margin-top: 1%;
	margin-bottom: ;
	font-family: 'CasablancaAntique', serif;
	font-size: 120%;
}

body {
	color: ;
	vertical-align: ;
	margin-left: ;
	margin-top: ;
	margin-right: ;
	background-image: url("playerMat.jpg");
	background-size: 100%;
	font-family: 'CasablancaAntique', serif;
	font-size: ;
}

footer {
	background-color: ;
	text-align: ;
}

div {
	padding: ;
	border-radius: ;
}

td {
	text-align: center;
	padding-top: 1%;
	font-size: 120%;
}

th {
	font-size: 120%;
}

#bufferRow1 {
	padding-top: 7%;
}

#bufferRow2 {
	padding-top: 6%;
}
#bufferRow3 {
	padding-top: 3%;
}

tr {
}
